.green_price {
    text-align: center;
    margin-top: 2rem;

}

.greenform {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.greenform_content {
        margin-left: 1rem;
    margin-right: 1rem;
}

input[type="checkbox"] {
    border: 2px solid var(--orange);
    appearance: none;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
  }

  input[type="checkbox"]:not(:disabled):checked {
    background-image: url(../img/smallstar2.svg);
    background-size: contain;

  }

  input[type="checkbox"]:not(:disabled):hover {
    background-image: url(../img/smallstar2.svg);
    background-size: contain;
  }

  input[type="checkbox"]:not(:disabled):focus {
    box-shadow: 0px 0px 10px var(--offwhite);
  }


