.grid_tickets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

label {
    color: var(--offwhite);
    text-align: center;
}

input {
    margin: auto;
    display: block;
    padding-left: 1.7rem;
    border-radius: 0.5rem;
    border: 1px solid var(--black);
}

input:focus {
    outline: 0;
  }

.tickets_regular {
    background-image: url(../img/star1.svg);
    background-size: cover;
}

.tickets_vip {
    background-image: url(../img/star2.svg);
    background-size: cover;
}


h3 {
    color: var(--offwhite);
    -webkit-text-stroke: 0.01px var(--black);
}

h4 {
    color: var(--offwhite);
}